@import url(global/global.css);

/* === IMAGEM NO INICIO DA HOME === */

.hero {
    background-image: url(./imgs/Escada\ Matarazzo\ \(2\).JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.15);
    background-blend-mode: multiply;
    
    height: 70vh;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rocamar{
    height: 17.8rem;
    width: auto;
    animation: fadeInPage 0.8s ease forwards;
    animation-delay: 1s;
}

/* === ANOS DA EMPRESA - INTRODUZIR === */

.sessenta{
    height: 35vh;
    animation: fadeInPage 0.8s ease forwards;
    animation-delay: 1s;
}

.introducao{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    max-width: 75rem;
    margin: 0 auto;
    gap: 1.25rem;
    animation: fadeInPage 0.8s ease forwards;
    animation-delay: 1s;
}

.box-titulo {
    flex: 1;
    padding: 0 1.25rem;
}

.box-titulo h2 {
    margin: 0;
    font-size: 1.8rem;
}

.box-texto {
    flex: 2;
    color: #fcfcfc;
    line-height: 1.6;
}

.box-titulo, .box-texto {
        padding: 10px 0;
}

/* === IMAGEM DO FIM DA HOME === */

.hero2 {
    background-image: url(./imgs/Moldura\ Escada\ Water\ Jet\ Manolo\ Revista\ Rochas\ \(23\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 50vh;
    color: #fff;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero2-content {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.25rem;
  }
  
  .cta-btn {
    display: inline-block;
    margin-top: .9375rem;
    padding: .75rem 1.5rem;
    background: #e63946;
    color: #fff;
    font-size: 1.125rem;
    text-decoration: none;
    border-radius: .5rem;
    transition: 0.3s;
  }
  
  .cta-btn:hover {
    background: #ffffff;
    color: #555;
  }

  /* === RESPONSIVIDADE === */

  @media (min-width: 360px) and (max-width: 450px) {

    

    .hero {
        height: 70vh;
    }

    

    .rocamar{
        height: 5rem;
    }

    .sessenta{
        height: 20vh;
    }

    .introducao {
        max-width: 65rem;
        padding: 2rem;
        gap: 1rem;
    }

    .box-titulo h2 {
        font-size: 1.5rem;
    }

    .hero2 {
        height: 50vh;
    }

    .hero2-content {
        height: 50vh;
        padding: 0.625rem;
    }
    
    .cta-btn {
        margin-top: 0.625rem;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}